@model HRMS.ViewModels.SalaryBatchDetailViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Payslip</title>

    <style>
			.invoice-box {
				max-width: 800px;
				margin: auto;
				padding: 30px;
				border: 1px solid #eee;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 45px;
				line-height: 45px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}
			.invoice-box table tr.heading_cols td {
				background: rgb(0, 0, 0);
				color:white;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}
			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			@@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}

			/** RTL **/
			.invoice-box.rtl {
				direction: rtl;
				font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			}

			.invoice-box.rtl table {
				text-align: right;
			}

			.invoice-box.rtl table tr td:nth-child(2) {
				text-align: left;
			}
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            
            <tr class="">
                <td colspan="2"><center><b>Payslip</b></center></td>
            </tr>
            <tr class="details">
                <td>@Model.full_name</td>
                <td>@Model.notes</td>
            </tr>
            <tr class="heading">
                <td colspan="2"><center>Earnings</center></td>
            </tr>
            <tr class="details">
                <td>Salary</td>
				@if(Model.salary != null)
                {
					<td>@Model.salary</td>
                }
                else
                {
					<td>-</td>
                }

            </tr>
            <tr class="details">
                <td>Reserved Amount</td>
                @if (Model.reserved_amount != null)
                {
                    <td>@Model.reserved_amount</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="details">
                <td>Additional Hours</td>
                @if (Model.addtional_hours != null)
                {
                    <td>@Model.addtional_hours</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="details">
                <td>Additional Hours Amount</td>
                @if (Model.addtional_hours_amount != null)
                {
                    <td>@Model.addtional_hours_amount</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="details">
                <td>Total Kilos</td>
                @if (Model.total_kilos != null)
                {
                    <td>@Model.total_kilos</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="heading">
                <td colspan="2"><center>Deductions</center></td>
            </tr>
            <tr class="details">
                <td>Insurance Deductions</td>
                @if (Model.insurance_deductions != null)
                {
                    <td>@Model.insurance_deductions</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="details">
                <td>Tax Deductions</td>
                @if (Model.tax_deductions != null)
                {
                    <td>@Model.tax_deductions</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="details">
                <td>Absense Days</td>
                @if (Model.absense_days != null)
                {
                    <td>@Model.absense_days</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="details">
                <td>Absense Deductions</td>
                @if (Model.absense_deductions != null)
                {
                    <td>@Model.absense_deductions</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            <tr class="total">
                <td></td>

                @if (Model.total_salary != null)
                {
                    <td>Total: @Model.total_salary</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
        </table>
    </div>
</body>
</html>
