@{
    ViewBag.Title = "Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="manage_area_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-12">
                                <label>Name</label>
                                <input required name="name" id="name" type="text" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Project</label>
                                @Html.DropDownList("project_id", new SelectList(ViewBag.Projects, "id", "name"), "Select Project", new { @class = "form-control", @name = "project_id", @style = "width:100%", @id = "project_id", @required = "@required" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>MVOH</label>
                                <input name="mvoh" id="mvoh" type="number" step=".01" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>LVOH</label>
                                <input name="lvoh" id="lvoh" type="number" step=".01" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>MVUG</label>
                                <input name="mvug" id="mvug" type="number" step=".01" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>LVUG</label>
                                <input name="lvug" id="lvug" type="number" step=".01" class="form-control radius-30" />
                            </div>
                            <div class="form-group col-md-12">
                                <label>Status</label>
                                <select class="form-control" name="active" id="active">
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="form-group col-4">
        <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
    </div>
    <div class="form-group col-2">
        <button id="search" class="btn btn-primary px-3 radius-30">Search</button>
    </div>
    <div class="form-group col-2">
        <button id="reset" class="btn btn-danger px-3 radius-30">Reset</button>
    </div>

</div>

<div class="card">
    <div class="card-header">
        <a href="javascript:void(0)" id="add_area"><i class="fa fa-plus"></i> Add Area</a>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table id="areaTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Info</th>
                        <th>Active</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
       $(document).ready(function () {

           var datatable = $('#areaTable')
               .DataTable({/* we added this from the other system to have same search and same pagination*/
                   "dom": "<'dt--top-section '<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>>" +
                       "<'table-responsive  'tr>" +
                       "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                   "buttons": {
                       buttons: [
                           { extend: 'copy', className: 'btn btn-sm' },
                           { extend: 'csv', className: 'btn btn-sm' },
                           { extend: 'excel', className: 'btn btn-sm' },
                           { extend: 'print', className: 'btn btn-sm' }
                       ]
                   },
                   "oLanguage": {
                       "oPaginate": { "sPrevious": 'Perivous', "sNext": 'Next' },
                       "sInfo": "Showing page _PAGE_ of _PAGES_",
                       "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                       "sSearchPlaceholder": "Search...",
                       "sLengthMenu": "Results :  _MENU_",
                   },
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": false,
                    "lengthChange": false,
                    "dom": 'Bfrtip',

                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength":10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Area")",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "searchable": true
                        },
                        {
                            "data": "name",
                            "searchable": true
                        },
                        {
                            "data": "project_name",
                            "searchable": true
                        },
                        {
                            "data": "mvoh", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.mvoh || oData.lvoh || oData.mvug || oData.lvug) {
                                    if (oData.mvoh)
                                        html += "<b>MVOH: </b>" + oData.mvoh + "<br>";
                                    if (oData.lvoh)
                                        html += "<b>LVOH: </b>" + oData.lvoh + "<br>";
                                    if (oData.mvug)
                                        html += "<b>MVUG: </b>" + oData.mvug + "<br>";
                                    if (oData.lvug)
                                        html += "<b>LVUG: </b>" + oData.lvug + "<br>";
                                }
                                else
                                    html += "-";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "active", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.active == 1)
                                    html += "<span class='badge badge-primary'>Active</span>";
                                else
                                    html += "<span class='badge badge-danger'>Active</span>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "active", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<span class='action-column'>" + fixDate(oData.created_at) + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";

                                html += "<a class='edit' href='javascript:void(0)' title='Edit'><i class='far fa-edit'></i></a>&nbsp;";
                                html += "<a class='delete' href='javascript:void(0)' title='Delete'><i class='fas fa-trash'></i></a>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                    ]
                 });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");

                $('#search').trigger('click');

            });

           $("#add_area").click(function () {
                var modal = $('#manage_area_modal').clone();
                var action = '@Url.Action("saveArea", "Area")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Add Area');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {

                });
            });

            $(document).on("click", ".edit", function () {
               var data = datatable.row($(this).closest('tr')).data();
               var id = $(this).attr('data-id');
               var name = $(this).attr('data-name');
               var active = $(this).attr('data-active');
               var modal = $('#manage_area_modal').clone();
                var action = '@Url.Action("saveArea", "Area")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Edit Area');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.draw();

                }, function (response) {

                }, function (dialog) {
                        dialog.find("#id").val(data.id);
                        dialog.find("#name").val(data.name);
                        dialog.find('#project_id option[value=' + data.project_id + ']').attr('selected', 'selected');
                        dialog.find("#mvoh").val(data.mvoh);
                        dialog.find("#lvoh").val(data.lvoh);
                        dialog.find("#mvug").val(data.mvug);
                        dialog.find("#lvug").val(data.lvug);
                        dialog.find('#active option[value=' + data.active + ']').attr('selected', 'selected');



                });
           });

            $(document).on("click", ".delete", function () {
               var data = datatable.row($(this).closest('tr')).data();
               var id = $(this).attr('data-id');
               var name = $(this).attr('data-name');
                warningBox("Are you sure you want to delete this Arae (<b>" + name +"</b>) ?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("deleteArea", "Project")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": id },
                        datatype: "json",
                        success: function (data) {
                            datatable.draw();
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

        });

    </script>
}

