
@{
    ViewBag.Title = "Details";
}
@section css{
    <link href="~/Content/AdminPanelAssets/assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />
}
<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
           
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-weight:bold;">@ViewBag.branch_name</li>

        </ol>
    </nav>
</div>
<div class="row">
    <div class="card component-card_1">
        <a href="@Url.Action("Index","User",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Employees</h5>
            </div>
        </a>
    </div>
    <div class="card component-card_1">
        <a href="@Url.Action("Index","Project",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Projects</h5>
            </div>
        </a>
    </div>
    <div class="card component-card_1">
        <a href="@Url.Action("Index","Productivity",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Productivity</h5>
            </div>
        </a>
    </div>

    <div class="card component-card_1">
        <a href="@Url.Action("Missing","Productivity",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Missing Productivity</h5>
            </div>
        </a>
    </div>

    <div class="card component-card_1">
        <a href="@Url.Action("Index","PermissionList",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Permissions</h5>
            </div>
        </a>
    </div>

    <div class="card component-card_1">
        <a href="@Url.Action("Approval","VacationRequest",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Vacations</h5>
            </div>
        </a>
    </div>

    <div class="card component-card_1">
        <a href="@Url.Action("Index","MissionList",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Missions</h5>
            </div>
        </a>
    </div>
    <div class="card component-card_1">
        <a href="@Url.Action("Index","Asset",new { branch_id = ViewBag.branch_id})">
            <div class="card-body">
                <div class="icon-svg">
                    <svg>...</svg>
                </div>
                <h5 class="card-title">Assets</h5>
            </div>
        </a>
    </div>

</div>
