
@{
    ViewBag.Title = "Productivity";
}

<div class="modal fade" id="manage_return_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <input type="hidden" name="id" id="id" value="0" />
                            <div class="form-group col-md-12">
                                <label>Reason</label>
                                <textarea required name="note" id="note" class="form-control radius-30"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if ((ViewBag.branchId != null && HRMS.Auth.isA.SuperAdmin()) || HRMS.Auth.isA.BranchAdmin())
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Show","Branch")">Branches</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details","Branch",new { id = ViewBag.branchId})">@ViewBag.branchName</a></li>
            }
            else if (HRMS.Auth.isA.TeamLeader() || HRMS.Auth.isA.TechnicalManager() || HRMS.Auth.isA.ProjectManager())
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i></a></li>
            }
            <li class="breadcrumb-item active" aria-current="page" style="font-weight:bold;">Productivity</li>

        </ol>
    </nav>
</div>
<form action="@Url.Action("GenerateProductivityReport","Productivity")" method="post" id="GenerateProductivityReportForm">
    <div class="row">
        @if ((ViewBag.branchId == null && HRMS.Auth.isA.SuperAdmin()) || HRMS.Auth.isA.ProjectManager())
        {
            <div class="form-group col-md-4">
                @Html.DropDownList("branch_id", new SelectList(ViewBag.Branches, "id", "name"), "Select Branch", new { @class = "form-control", @name = "branch_id", @style = "width:100%", @id = "branch_id" })
            </div>
        }
        else
        {
            <input type="hidden" name="branch_id" id="branch_id" value="@ViewBag.branchId" />
        }
        <div class="form-group col-md-4">
            @Html.DropDownList("search_project_id", new SelectList(ViewBag.Projects, "id", "name"), "Select Project", new { @class = "form-control", @name = "search_project_id", @style = "width:100%", @id = "search_project_id" })
        </div>
        <div class="form-group col-md-4">
            <select class="form-control" id="search_area_id" name="search_area_id">
                <option value="">Select Area</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select class="form-control" id="search_part_id" name="search_part_id">
                <option value="">Select Part</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("search_task_id", new SelectList(ViewBag.Tasks, "id", "name"), "Select Task", new { @class = "form-control", @name = "search_task_id", @style = "width:100%", @id = "search_task_id" })
        </div>
        <div class="form-group col-md-4">
            <select class="form-control" name="productivity_type" id="search_productivity_type">
                <option value="">Select Type</option>
                <option value="1">Normal</option>
                <option value="2">OverTime</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select class="form-control" name="work_place" id="search_work_place">
                <option value="">Select Work Place</option>
                <option value="1">From Home</option>
                <option value="2">Office</option>
            </select>
        </div>
        <div class="form-group col-4">
            <input class="form-control" type="date" id="from_date" name="from_date">
        </div>
        <div class="form-group col-4">
            <input class="form-control" type="date" id="to_date" name="to_date">
        </div>
        <div class="form-group col-4">
            <input class="form-control" type="text" id="text_search" name="text_search" placeholder="Search">
        </div>
        <div class="form-group col-2">
            <button id="search" type="button" class="btn btn-primary px-3 radius-30">Search</button>
        </div>
        <div class="form-group col-2">
            <button id="reset" type="button" class="btn btn-danger px-3 radius-30">Reset</button>
        </div>

    </div>
</form>
<div class="modal fade" id="manage_info_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" method="post" enctype='multipart/form-data'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <textarea id="note" name="note" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section css{
    <style>
        .counter {
            background-color: #FFFFFF;
            padding: 20px 0;
            border-radius: 5px;
        }

        .count-title {
            font-size: 40px;
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
        }

        .count-text {
            font-size: 13px;
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 0;
            text-align: center;
        }

        .fa-2x {
            margin: 0 auto;
            float: none;
            display: table;
            color: #4ad1e5;
        }
    </style>
}

<div class="row text-center mb-2">
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="hours_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> Hours</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="projects_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> Projects</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="employees_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> Employees</p>
        </div>
    </div>
    @if (HRMS.Auth.isA.SuperAdmin() || HRMS.Auth.isA.BranchAdmin())
    {
        <div class="col-2" style="border-radius: 25px;">
            <div class="counter">
                <h3 id="cost_counter">0</h3>
                <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> Cost</p>
            </div>
        </div>
    }
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="mvoh_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> MVOH</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="lvoh_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> LVOH</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="mvug_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> MVUG</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="lvug_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> LVUG</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="equipment_quantity_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> Equipment Quantity</p>
        </div>
    </div>
    <div class="col-2" style="border-radius: 25px;">
        <div class="counter">
            <h3 id="substation_counter">0</h3>
            <p style="font-weight:bold;font-size:12px;"><i class="fa fa-plus"></i> Sub Station</p>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        @ViewBag.branchName <span>Productivity</span>
        <span style="float:right;font-weight:bold;text-decoration:underline;"><a href="javascript:void(0);" id="generate_productivity_report"><i class="far fa-file-excel"></i> Generate Report</a></span>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table id="productivityTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Employee</th>
                        <th>Location</th>
                        <th>Info</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var datatable = $('#productivityTable')
                .DataTable({/* we added this from the other system to have same search and same pagination*/
                    "dom": "<'dt--top-section '<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>>" +
                        "<'table-responsive  'tr>" +
                        "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                    "buttons": {
                        buttons: [
                            { extend: 'copy', className: 'btn btn-sm' },
                            { extend: 'csv', className: 'btn btn-sm' },
                            { extend: 'excel', className: 'btn btn-sm' },
                            { extend: 'print', className: 'btn btn-sm' }
                        ]
                    },
                    "oLanguage": {
                        "oPaginate": { "sPrevious": 'Perivous', "sNext": 'Next' },
                        "sInfo": "Showing page _PAGE_ of _PAGES_",
                        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                        "sSearchPlaceholder": "Search...",
                        "sLengthMenu": "Results :  _MENU_",
                    },
                    "processing": true,
                    "serverSide": true,
                    "scrollX": true,
                    "stateSave": true,
                    "lengthChange": false,
                    "dom": 'Bfrtip',
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "buttons": ['copy', 'excel', 'pdf', 'print'],
                    "pageLength": 10,
                    "rowId": 'id',
                    "ajax": {
                        "url": "@Url.Action("Index", "Productivity")?branch_id=@ViewBag.branchId",
                        "type": "POST",
                        "datatype": "json",
                        "dataSrc": "data"
                    },
                    "columnDefs":
                    [
                    //{
                    //    "targets": [6],
                    //    //"visible": false,
                    //    "orderable": false,
                    //    "searchable": false
                    //},
                    //{
                    //    "targets": [6],
                    //    "searchable": false,
                    //    "orderable": false
                            //}
                        ],
                    "columns": [
                        {
                            "data": "id",
                            "name": "id",
                            "searchable": true
                        },
                        {
                            "data": "user_name",
                            "name": "user_name",
                            "searchable": true
                        },
                        {
                            "data": "project_name", "name": "project_name", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.project_name)
                                    html += "<b>Project: </b>" + oData.project_name + "<br>";
                                if (oData.area_name)
                                    html += "<b>Area: </b>" + oData.area_name + "<br>";
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.productivity_type) {
                                    html += "<b>Productivity Type: </b>";
                                    if (oData.productivity_type == 1)
                                        html += "Normal";
                                    else
                                        html += "Over Time";
                                    html += "<br>";
                                }

                                if (oData.productivity_work_place) {
                                    html += "<b>Work Place: </b>";
                                    if (oData.productivity_work_place == 1)
                                        html += "From Home";
                                    else
                                        html += "Office";
                                    html += "<br>";
                                }

                                if (oData.part_id)
                                    html += "<b>Part ID: </b>" + oData.part_id + "<br>";
                                else if (oData.part_id_fk)
                                    html += "<b>Part ID: </b>" + oData.part_name + "<br>";

                                if (oData.task_id)
                                    html += "<b>Task: </b>" + oData.task_name + "<br>";
                                if (oData.equipment_quantity)
                                    html += "<b>Equipment Quantity</b>: " + oData.equipment_quantity + "<br>";

                                if (oData.substation) {
                                    html += "<b>Sub Station: </b>" + oData.substation + "<br>";
                                }

                                if (oData.no_of_numbers) {
                                    html += "<b>Hours: </b>" + oData.no_of_numbers + "<br>";
                                }

                                if (oData.mvoh) {
                                    if (oData.mvoh >= oData.mvoh_target)
                                        html += "<span class='badge badge-success'><b>MVOH: </b>" + oData.mvoh + "</span><br>";
                                    else
                                        html += "<span class='badge badge-danger'><b>MVOH: </b>" + oData.mvoh + "</span><br>";
                                }

                                if (oData.lvoh) {
                                    if (oData.lvoh >= oData.lvoh_target)
                                        html += "<span class='badge badge-success'><b>LVOH: </b>" + oData.lvoh + "</span><br>";
                                    else
                                        html += "<span class='badge badge-danger'><b>LVOH: </b>" + oData.lvoh + "</span><br>";
                                }

                                if (oData.mvug) {
                                    if (oData.mvug >= oData.mvug_target)
                                        html += "<span class='badge badge-success'><b>MVUG: </b>" + oData.mvug + "</span><br>";
                                    else
                                        html += "<span class='badge badge-danger'><b>MVUG: </b>" + oData.mvug + "</span><br>";
                                }

                                if (oData.lvug) {
                                    if (oData.lvug >= oData.lvug_target)
                                        html += "<span class='badge badge-success'><b>LVUG: </b>" + oData.lvug + "</span><br>";
                                    else
                                        html += "<span class='badge badge-danger'><b>LVUG: </b>" + oData.lvug + "</span><br>";
                                }


                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "status", "name": "status", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                if (oData.status == 1) {
                                    html = `<span class="badge badge-primary">Pending Approve</span>`;
                                }
                                else if (oData.status == 2) {
                                    html = `<span class="badge badge-success">Approved</span>`;
                                }
                                else if (oData.status == 4) {
                                    var isTeamLeader = '@HRMS.Auth.isA.TeamLeader()';
                                    html = '<span class="badge badge-warning">Returned';
                                    if (isTeamLeader != 'True') {
                                        if (oData.returned_by_name)
                                            html += 'By: ' + oData.returned_by_name;
                                        if (oData.returned_at)
                                            html += `At ${fixDate(oData.returned_at)} <br />`;
                                    }
                                    else
                                        html += '<br>';
                                    if (oData.rejected_by_note)
                                        html += `Reason: ${oData.rejected_by_note}`;
                                    html += '</span>';
                                }
                                else {
                                    html = `<span class="badge badge-danger">Rejected</span>`;
                                }
                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id", "searchable": true,
                            fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                                var html = "";
                                var isTechnicalManager = '@HRMS.Auth.isA.TechnicalManager()';
                                var isTeamLeader = '@HRMS.Auth.isA.TeamLeader()';
                                if (oData.status == 1 && ((isTeamLeader == 'True' && oData.type == 3) || (isTechnicalManager == 'True' && oData.type == 4))) {
                                    html += "<a class='approve' href='javascript:void(0)' title='Approve'><i class='fa fa-check'></i></a>&nbsp;";
                                    html += "<a class='reject' href='javascript:void(0)' title='Reject'><i class='fas fa-times'></i></a>&nbsp; | ";
                                    html += "<a class='return' href='javascript:void(0)' title='Return'><i class='fa fa-undo-alt'></i></a>&nbsp; | ";
                                }

                                if (isTeamLeader == 'True' && oData.status != 4)
                                    html += "<a class='return' href='javascript:void(0)' title='Return'><i class='fa fa-undo-alt'></i></a>&nbsp; | ";

                                html += "<a class='info' href='javascript:void(0)' title='Information'><i class='fas fa-info-circle'></i></a>";

                                $(nTd).html("<span class='action-column'>" + html + "</span>");
                            }
                        },
                        {
                            "data": "id",
                            "name": "id",
                            "searchable": true,
                            "visible":false
                        },
                        {
                            "data": "id",
                            "name": "id",
                            "searchable": true,
                            "visible": false
                        },
                        {
                            "data": "id",
                            "name": "id",
                            "searchable": true,
                            "visible": false
                        },
                        {
                            "data": "id",
                            "name": "id",
                            "searchable": true,
                            "visible": false
                        },
                    ]
                });


            datatable.on('xhr.dt', function (e, settings, json, xhr) {

                $("#hours_counter").text(json.Hours);
                $("#projects_counter").text(json.Projects);
                $("#employees_counter").text(json.Employees);
                $("#cost_counter").text((addCommas(json.Cost.toFixed(2))));
                $("#mvoh_counter").text(json.MVOH.toFixed(2));
                $("#lvoh_counter").text(json.LVOH.toFixed(2));
                $("#mvug_counter").text(json.MVUG.toFixed(2));
                $("#lvug_counter").text(json.LVUG.toFixed(2));
                $("#equipment_quantity_counter").text(json.EquipmentQuantity.toFixed(2));
                $("#substation_counter").text(json.Substation.toFixed(2));
            });

            $('#search').on('click', function () {
                datatable.search($("#text_search").val());
                datatable.columns(0).search($("#search_project_id").val());
                datatable.columns(1).search($("#search_area_id").val());
                datatable.columns(2).search($("#search_productivity_type").val());
                datatable.columns(3).search($("#search_work_place").val());
                datatable.columns(4).search($("#from_date").val());
                datatable.columns(5).search($("#to_date").val());
                datatable.columns(6).search($("#search_task_id").val());
                datatable.columns(7).search($("#search_part_id").val());
                datatable.columns(8).search($("#branch_id").val());
                datatable.draw();
            });

            $('#text_search').on('keyup', function (e) {
                if (e.keyCode == 13)
                    $('#search_button').trigger('click');
            });

            $('#reset').on('click', function () {
                $("#text_search").val("");
                $("#search_project_id").val("");
                $("#search_area_id").val("");
                $("#search_productivity_type").val("");
                $("#search_work_place").val("");
                $("#from_date").val("");
                $("#to_date").val("");
                $("#search_task_id").val("");
                $("#search_part_id").val("");
                $('#search').trigger('click');

            });



            $(document).on("click", ".approve", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to Approve this task?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("approveTask", "Productivity")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.row(this).remove().draw(false);
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

            $(document).on("click", ".reject", function () {
                var data = datatable.row($(this).closest('tr')).data();
                warningBox("Are you sure you want to Reject this task?", function () {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("rejectTask", "Productivity")',
                        contentType: "application/json; charset=utf-8",
                        data: { "id": data.id },
                        datatype: "json",
                        success: function (data) {
                            datatable.row(this).remove().draw(false);
                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
            });

            $(document).on("click", ".return", function () {
                var data = datatable.row($(this).closest('tr')).data();
                var modal = $('#manage_return_modal').clone();
                var action = '@Url.Action("returnTask", "Productivity")';
                modal.find('form').attr('action', action);
                modal.find('#modal_title').text('Are you sure you want to Return this task?');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {

                        datatable.row(this).remove().draw(false);

                }, function (response) {

                }, function (dialog) {
                    dialog.find('#id').val(data.id)

                });
            });

            $(document).on("click", ".info", function () {
                var data = datatable.row($(this).closest('tr')).data();
                console.log(data);
                var modal = $('#manage_info_modal').clone();
                modal.find('#modal_title').text('Task Description');
                modal.execModal({
                    progressBar: 'progress_bar',
                    progressText: 'progress_text',
                }, function (response) {
                        datatable.row(this).remove().draw(false);

                }, function (response) {

                }, function (dialog) {

                    dialog.find('#note').text(data.note);
                });

            });

            $(document).on("change", "#search_project_id", function () {
                var project_id = $(this).val();

                $("#search_area_id").empty();
                var html = `<option value=''>Select Area</option>`;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getAreaByProjectId", "Project")',
                    contentType: "application/json; charset=utf-8",
                    data: { "id": project_id },
                    datatype: "json",
                        success: function (data) {
                            if (data.areas.length != 0) {

                            data.areas.forEach(function (value) {
                                html += `<option value='${value.id}'>${value.name}</option>`;
                            });

                            }
                            $("#search_area_id").append(html);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });

             });

            $(document).on("change", "#search_area_id", function () {
                var area_id = $(this).val();

                $("#search_part_id").empty();
                var html = `<option value=''>Select Part</option>`;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getPartsByAreaId", "Part")',
                    contentType: "application/json; charset=utf-8",
                    data: { "id": area_id },
                    datatype: "json",
                        success: function (data) {
                            if (data.parts.length != 0) {

                                data.parts.forEach(function (value) {
                                html += `<option value='${value.id}'>${value.part}</option>`;
                            });

                            }
                            $("#search_part_id").append(html);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });

             });

            $("#generate_productivity_report").click(function () {

                $("#GenerateProductivityReportForm").submit();
            });



        });

    </script>
}


